<form class="new-task-form"  (ngSubmit)="submitted()" #userForm="ngForm" [formGroup]="taskForm">
  <mat-form-field class="new-task-title">
    <mat-label>Title</mat-label>
    <input matInput placeholder="New task title is..." value="" name="newTask.taskName"  formControlName="taskName">
  </mat-form-field>
  <mat-form-field class="new-task-text">
    <mat-label>Body</mat-label>
    <textarea matInput placeholder="I have to do..." value="" name="newTask.taskText"  formControlName="taskText"></textarea>
  </mat-form-field>
  <button mat-raised-button color="primary" type="submit" mat-dialog-close [disabled]="!userForm.form.valid" >Save</button>
</form>
