<div class="welcome-dash-container">
  <div class="welcome-dash-message">
    <h1>Hello, {{username}}!</h1>
    <p>How is Your Day?</p>
<!--    <p>You are in the {{week}} week of your pregnancy, your baby should be about {{babyLength}}cm long and weights {{babyWeight}}g</p>-->
  </div>
  <div class="date-weather-container">
    <div>
      <mat-icon class="material-icons menu-icon">calendar_today</mat-icon><span>{{showDate}}</span>
    </div>
    <div>
      <mat-icon class="material-icons menu-icon">thermostat</mat-icon><span>Its Warm and Sunny</span>
    </div>
  </div>
</div>
