<mat-card class="view-port">
  <div class="food-chips-container">
    <mat-chip-list *ngFor="let day of days">
      <mat-chip (focus)="selectDay(day)">{{day}}</mat-chip>
    </mat-chip-list>
  </div>
  <div class="meals">
    <div *ngFor="let meal of meals" class="meals-container">
      <h2>{{meal}}</h2>
      <div class="day-container">
        <div *ngFor="let food of foodList">
          <div *ngIf="food.day.includes(daySelected) && food.mealTime === meal">
            <mat-card>
              <mat-card-title>{{food.recipeName}}</mat-card-title>
              <mat-card-content>{{food.recipeText}}</mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-card>


