<div class="grid-container">
  <mat-grid-list cols="{{ (cardLayout | async)?.columns }}" rowHeight="28vh">
    <mat-grid-tile [colspan]="(cardLayout | async)!.welcome.cols" [rowspan]="(cardLayout | async)!.welcome.rows">
      <mat-card class="dashboard-card">
        <app-welcome-dash></app-welcome-dash>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="(cardLayout | async)!.calendar.cols" [rowspan]="(cardLayout | async)!.calendar.rows">
      <mat-card class="dashboard-card">
        <app-calendar-dash (demo)="onChange($event)"></app-calendar-dash>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="(cardLayout | async)!.notes.cols" [rowspan]="(cardLayout | async)!.notes.rows">
      <mat-card class="dashboard-card">
        <app-notes-dash [userNotes]="userNotes" (demo)="onChange($event)"></app-notes-dash>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="(cardLayout | async)!.card4.cols" [rowspan]="(cardLayout | async)!.card4.rows">
      <mat-card class="dashboard-card">
        <app-counters-dash [kicksCount] = "kicksCount" [countContractions] = "countContractions"
                           [lastContraction] = "lastContraction">

        </app-counters-dash>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="(cardLayout | async)!.forum.cols" [rowspan]="(cardLayout | async)!.forum.rows">
      <mat-card class="dashboard-card">
        <app-forum-dash></app-forum-dash>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="(cardLayout | async)!.blog.cols" [rowspan]="(cardLayout | async)!.blog.rows">
      <mat-card class="dashboard-card">
        <app-blog-dash [blogPosts] = "blogPosts"></app-blog-dash>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="(cardLayout | async)!.food.cols" [rowspan]="(cardLayout | async)!.food.rows">
      <mat-card class="dashboard-card">
        <app-food-dash [foodList] = "foodList"></app-food-dash>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
